.card img{
    
    height: 200px;
}
.button-reguler{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(235, 137, 8);
    color: rgb(124, 25, 8);
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}
.button-reguler:hover{
    background-color: rgb(15, 8, 6);
    color: white;
}