.travo-about{
    margin-left: 80px;
}
.learn{
    margin-top:80px;
  
}
.about-img{
    border-radius: 10px;
}

.about-left{
    margin-bottom: 10px;
}
.turi img{
    width: 300px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 70px;
}
