.log-header{
    background-image: url('https://i.ibb.co/C2TNnty/image040-1024x576-2.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;

}
.log-header h1{
    padding-top: 65px;
}
.btn-area{
    background-color: rgb(210, 210, 216);
    border-radius: 10px;
    margin-bottom: 10px;
}
.left-log{
    margin-top: 90px;
}
.login-btn{
    margin: 10px;
    width: 300px;
    height: 40px;
    background-color: navy;
    color: oldlace;
    border: none;
    border-radius: 5px;
}
.logb-img{
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}
